# SolidWorks specific
*.bak
*.tmp
*.log
~$*
Thumbs.db
Desktop.ini
.DS_Store

# Altium Designer Ignored Files
History/
__Previews/
Project Logs*/
Project Outputs*/
*.SchDocPreview
*.PcbDocPreview
*.PrjPcbStructure
*.OutJobPreview
*.HarnessLog
*.~*